extends layout

block mainPane
  br
  .container
    .card-deck.mb-3.text-center
      each movie in featuredMoviesList
        .card.mb-4.shadow-sm
          .card-header
            .my-0.font-weight-normal=movie.title__c
          .card-body
            ul.list-unstyled.mt-3.mb-4
              li=movie.release_date__c
              li=movie.revenue__c
              li=movie.tagline__c
            button.btn.btn-lg.btn-block.btn-outline-primary(type="button") Check it out!
    nav(aria-label="Page nav")
      ul.pagination
        if pageNum > 1
          li.page-item
            a.page-link(href='?pageNum=' + (pageNum - 1)) Previous
        if pageNum > 2
          li.page-item
            a.page-link(href='?pageNum=' + (pageNum - 2))=pageNum-2
        if pageNum > 1
          li.page-item
            a.page-link(href='?pageNum=' + (pageNum - 1))=pageNum-1
        li.page-item
          a.page-link(href='?pageNum=' + pageNum)=pageNum
        if pageNum < 20
        li.page-item
          a.page-link(href='?pageNum=' + (pageNum - -1))=(pageNum - -1)
        if pageNum < 19
        li.page-item
          a.page-link(href='?pageNum=' + (pageNum - -2))=(pageNum - -2)
        li.page-item
          a.page-link(href="#") Next
    .table-responsive
      table.table.table-striped.table-sm
        thead
          tr
            th Title
            th Tagline
            th Vote Average
            th Release Date
            th Revenue
        tbody
          each movie in movieList
            tr
              td
                a(href='/movies/'+movie.external_id__c)=movie.title__c
              td=movie.tagline__c
              td=movie.vote_average__c
              td=movie.release_date__c
              td=movie.revenue__c