extends layout

block mainPane
  .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light
      h1.display-4.font-weight-normal=movie.title__c
      p.lead.font-weight-normal=movie.overview__c

  .container
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link.active(href="#") Details
      li.nav-item
        a.nav-link(href="#") Reviews
  br
  .container.castHolder
    .row
      each castMember in movie.shortCast
        .col-lg-4.text-center
          svg.bd-placeholder-img.rounded-circle(width="140", height="140", xmlns="http://www.w3.org/2000/svg", preserveAspectRatio="xMidYMid slice", focusable="false", role="img", aria-label="Placeholder: 140x140")
            title Placeholder
            rect(fill="#777", width="100%", height="100%")
            text(fill="#777", dy=".3em", x="50%", y="50%") 140x140
          h2= castMember.name
          p= castMember.character
  .container.details
    .row
      .col
        h2 Budget
        p=movie.budget__c
      .col
        h2 Revenue
        p=movie.revenue__c
      .col
        h2 Release Date
        p=movie.release_date__c
    .row
      .col
        h2 Genre
        p= movie.Genres
      .col
        h2 Keywords
        p= movie.Keywords
    .row
      .col
        h2 Production Companies
        p= movie.companies
      .col
        h2 Production Countries
        p= movie.countries
  .container.redisData
    .row#redisRow1
      h3 Previously Viewed
    .row#redisRow1b
      each pMovie in movie.previouslyViewedList
        .col
          h4= pMovie.title
          p= pMovie.movieID
    .row#redisRow2
      h3 Recommended
    .row#redisRow2b
      each rMovie in movie.recommendedList
        .col
          h4= rMovie.title
          p= rMovie.reason
          p= rMovie.movieID
  .container.mongoData
    .row#mongoRow1
      h3 Reviews
  .container.graphData
    .row#graphRow1
      h3 Relationships